<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header-menu"></head>
    <body class="back">
        <div th:replace="fragments/cookNavbar :: cookNavbar"></div>

        <form action="#" th:action="@{/editMenu}" th:object="${editMenu}" method="post">
            <div class="container-new-menu">

                <input type="hidden" th:value="${editMenu.id}" name="id">
                <input type="text" th:value="${editMenu.name}" name="name" class="form-control menu-name"
                       th:placeholder="#{text.menu_title}" required/>


                <div class="advice-block text-center please-fill-the-sections">
                    <label th:text="#{text.Please_fill_the}"/>
                </div>


                <div class="card new-menu-card">
                    <label style="margin-left: 18px; margin-top: 10px;"th:text="#{text.price}">Price</label>
                    <p></p>
                    <label style="margin-left: 18px;"th:text="#{text.The_price_includes}">The price includes : your time, travel expenses, the cooking, the
                        ingredients,
                        the service and the cleaning.
                        <br th:text="#{text.Our_firm_will}"/>
                        La Belle Assiette will deduct a 25% commission on the total amount of each booking
                    </label>
                    <div class="card-body">
                        <label th:text="#{text.Please_choose_a_price}">Please choose a price per guest</label>
                        <div class="row">
                            <div class="custom-control" style="margin-top: 15px; margin-left: 26px;">
                                <div class="custom-control-inline">
                                    <label class="form-check-label">
                                    </label>
                                    <input type="text" th:value="${editMenu.price}" th:name="price" class="form-control"
                                           th:placeholder="#{text.price}" required pattern="[0-9]{1,3}(.[0-9]{1,2})?"
                                           style="width: 70px; margin-left: 5px; margin-right: 2px; position: relative; bottom: 8px"/>
                                    <label class="form-check-label" th:text="#{text.rub}">руб.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card new-menu-card">
                    <label style="margin-left: 18px; margin-top: 10px;" th:text="#{text.Menu_composition}">Menu composition</label>
                    <p></p>
                    <div class="yellow">
                        <label style="margin-left: 18px;" th:text="#{text.We_recommend_that}">We recommend that you have a 3 course menu:
                        </label>
                        <ul style="margin-left: 40px;">
                            <li th:text="#{text.Appetizer}">Appetizer</li>
                            <li th:text="#{text.Main_Course}">Main Course</li>
                            <li th:text="#{text.Dessert}">Dessert</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="row" style=" display: table-cell;" id="parent-dish">




                            <div class="card dish-card" th:each="dish, item : ${editMenu.dishes}">

                                <div class="row type-of-dish">
                                    <label style="margin-left: 30px; margin-top: 10px;" th:text="#{text.Menu_courses}">Menu courses</label>
                                    <select th:field="${editMenu.dishes[__${item.index}__].dishType}"
                                            class="form-control"
                                            style="width: 130px; margin-left: 10px">
                                        <option th:each="type : ${allTypesDish}" th:value="${type}"
                                                th:text="#{${'text.type.' + type}}"
                                                th:selected="${type == editMenu.dishes[item.index].dishType}"></option>
                                    </select>
                                    <button class="btn" style="width: 30px; margin-left: 600px" th:value="${item.index}"
                                            name="removeEditDish">
                                        <i class="far fa-trash-alt"></i>
                                    </button>


                                </div>


                                <div class="card-body dish-card-body">

                                    <input type="text" class="form-control"th:placeholder="#{text.dish_title}"
                                           th:field="*{dishes[__${item.index}__].name}"
                                           style="font-size: 16px; width: 54rem;" required/>

                                    <input type="hidden" class="form-control" placeholder="dish title"
                                           th:field="*{dishes[__${item.index}__].id}"/>

                                    <label style="margin-top: 10px;" th:text="#{text.type_of_cuisine}">Type of cuisine</label>

                                    <div>
                                        <select th:field="${editMenu.dishes[__${item.index}__].cuisine.id}"
                                                class="form-control"
                                                style="width: 130px; margin-left: 10px">
                                            <option th:each="cuisine : ${allCuisines}" th:value="${cuisine.id}"
                                                    th:text="${cuisine.name}"
                                                    th:selected="${cuisine.name == editMenu.dishes[item.index].cuisine.name}"></option>
                                        </select>
                                    </div>

                                </div>

                            </div>


                            <div class="card dish-card">
                            </div>


                            <div class="row justify-content-center">
                                <button type="submit" name="addEditDish" class="btn btn-classic save"
                                        style="display: inline-block; margin-top: 30px; background-color: #333333" th:text="#{text.ADD_ONE_MORE_DISH}">ADD ONE MORE DISH>ADD ONE MORE DISH
                                </button>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="row justify-content-center">
                    <button class="btn btn-classic save" type="submit" name="saveEditMenu"
                            style="display: inline-block; margin-top: 20px" th:text="#{text.SAVE}">SAVE
                    </button>
                </div>

            </div>
        </form>
        <label id="1" style="display: none"  th:text="#{text.please_fill_out_this_field}"></label>
        <label id="2" style="display: none"  th:text="#{text.does_not_match_type}"></label>
        <label id="3" style="display: none"  th:text="#{text.enter_a_price_of_3}"></label>

        <script type="text/javascript" th:src="@{/script/jquery.js}"></script>

        <script>
            $('input').on('input invalid', function() {
                this.setCustomValidity('')
                if (this.validity.valueMissing) {
                    this.setCustomValidity($("#1").text())
                }
                if (this.validity.typeMismatch) {
                    this.setCustomValidity($("#2").text())
                }
                if (this.validity.patternMismatch) {
                    this.setCustomValidity($("#3").text())
                }
            })
        </script>


    </body>


</html>











