<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>see menu</title>
    <script type="text/javascript" th:src="@{/script/jquery.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/seeMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
    <body class="back">
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>



<div class="container-new-menu">
    <div class="card new-menu-card" style="width: 580px; border: 0px; margin-top: 50px">

        <div class="row justify-content-center" style="margin-top: 15px">
            <label class="main-label"> <b th:text="${editMenu.name}"></b></label>
        </div>

        <div style="margin-left: 30px; margin-right: 30px">

        </div>


        <div class="card-body" th:each="dish, item : ${editMenu.dishes}">

            <div class="card dish-card"
                 style="position: absolute; left: -1px; width: 580px; border-color:  #f9f8f6;border-style: solid"></div>


            <div>
                <div class="row justify-content-center" style="margin-top: 25px">
                    <label class="main-label"><b th:text="#{${'text.type.' + dish.dishType}}">SERVICE DESCRIPTION</b></label>
                </div>


                <div style="margin-left: 30px; margin-right: 30px">
                    <label class="label-two" th:text="${dish.name}">

                    </label>
                </div>
            </div>
        </div>




    </div>


</div>












