<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>location</title>
</head>
<body>
<div th:replace = "fragments/cookNavbar :: cookNavbar"></div>
<a th:href="${(#mvc.url('CC#getCookPersonalPage')).build()}" th:text="#{text.back}">back</a><p></p>
<form action="#" th:action="@{/selectTown}" th:object="${town}" method="post">
    <div>
        <select th:field="${town.id}"/>
        <option th:each="t : ${townList}" th:value="${t.id}" th:text="${t.name}" th:selected="${t.id == cook.districts[0].town.id}"></option>
        </select>

        <button type="submit" th:text="#{text.submit}">submit</button>
    </div>


    <div>
        <div th:each="townDisElement, item :${town.districts}">
            <p></p>
            <select th:field="${town.districts[__${item.index}__].id}">
                <option th:each="district : ${districtList}" th:value="${district.id}" th:text="${district.name}">
                </option>
            </select>
            <button type="submit" th:text="#{text.removeDistrict}" th:value="${item.index}" name="removeRow"> remove district
            </button>
        </div>

        <p></p>
        <div>
            <button type="submit" th:text="#{text.addDistrict}" name="addDistrict">add district</button>
        </div>

        <p></p>
        <div>
            <button type="submit" th:text="#{text.save}" name="save">save</button>
        </div>
    </div>

</form>
</body>
</html>