<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <div th:replace="fragments/header :: header-menu"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}">
</head>
<body class="FonL app-contact-body">
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>
<div class="row justify-content-center" style="margin-top: 100px;">
    <form action="#" th:action="@{/confirmOrder}" method="post">
    <div class="card" style="width: 470px; height: 570px; border: 0px;">

        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label" style="color: #333333; font-size: 15px"><b th:text="#{text.Location}"></b></label>
        </div>


        <div style=" margin-left: 20px">
            <label class="main-label"

                   th:text="${order.district.town.name + ', ' + order.district.name + ', ' + order.address}"
                   style="color: #333333; font-size: 14px"><b></b></label>
        </div>

        <div style="background-color: rgba(50, 47, 42, 0.99); height: 5px"></div>


        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label" style="color: #333333; font-size: 15px" ><b th:text="#{text.Start_time}"></b></label>
        </div>
        <div style=" margin-left: 20px">
            <label class="main-label" th:text="#{${'text.day.' + order.date.dayOfWeek}}"
                   style="color: #333333; font-size: 14px"></label>
            <label class="main-label"
                   th:text="${order.date.dayOfMonth +'/' + order.date.monthValue + '/' + order.date.year + ' '}"
                   style="color: #333333; font-size: 14px"></label>

            <label class="main-label" th:text="#{text.at}"
                   style="color: #333333; font-size: 14px"></label>
            <label class="main-label" th:text="${order.eventTime}"
                   style="color: #333333; font-size: 14px"></label>
        </div>

        <div style="background-color: rgba(50, 47, 42, 0.99); height: 5px"></div>
        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label" style="color: #333333; font-size: 15px" ><b th:text="#{text.Client}"></b></label>
        </div>

        <div style=" margin-left: 20px">

            <div><label class="main-label" th:text="${'🔸 ' + order.client.name + ' ' + order.client.surname}"
                        style="color: #333333; font-size: 14px"></label></div>
            <div><label class="main-label"
                        th:text="${'🔸 ' + order.client.mobile}"
                        style="color: #333333; font-size: 14px"> +375447161038</label>
            </div>
            <div><label class="main-label" th:text="${'🔸 ' + order.client.email}"
                        style="color: #333333; font-size: 14px">egorsheka@gmail.com</label>
            </div>

        </div>
        <div style="background-color: rgba(50, 47, 42, 0.99); height: 5px"></div>
        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label" style="color: #333333; font-size: 15px"  ><b th:text="#{text.Name_of_menu}"></b></label>
        </div>
        <div style=" margin-left: 20px">
            <label class="main-label" th:text="${order.menu.name}"
                   style="color: #333333; font-size: 14px"></label>
        </div>
        <div style="background-color: rgba(50, 47, 42, 0.99); height: 5px"></div>
        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label" style="color: #333333; font-size: 15px" ><b th:text="#{text.Number_of_guests_and_total_income}"></b></label>
        </div>


        <div style=" margin-left: 20px">
            <label class="main-label" id="countX" th:text="${order.countOfGuests}" style="color: #333333; font-size: 14px"></label>
            <label class="main-label" style="color: #333333; font-size: 14px"> × </label>
            <label class="main-label" id="unitPrice" th:text="${order.menu.price}" style="color: #333333; font-size: 14px"></label>
            <label class="main-label"  style="color: #333333; font-size: 14px"> = </label>
            <label class="main-label" id="totalPrice" style="color: #333333; font-size: 14px"></label>
            <label class="main-label"  style="color: #333333; font-size: 14px" th:text="#{text.rub}"> руб.</label>
        </div>

        <div style="position: absolute;right: 30px;  bottom:20px; width: 200px">
            <button th:if="${order.orderType.name() == 'NEW'}" name="_new" class="btn btn-classic save" th:value="${order.id}" type="submit"
                    style="display: inline-block; margin-top: 12px;font-size: 15px;  width : 200px;" th:text="#{text.CONFIRM_BOOKING}">CONFIRM BOOKING
            </button>
            <button th:if="${order.orderType.name() == 'IN_PROCESS'}" name="inProcess" class="btn btn-classic save"  type="submit"
                    style="display: inline-block; margin-top: 12px;font-size: 15px;  width : 200px;" th:text="#{text.back}">CONFIRM BOOKING
            </button>
            <button th:if="${order.orderType.name() == 'CLOSED'}" name="closed" class="btn btn-classic save"  type="submit"
                    style="display: inline-block; margin-top: 12px;font-size: 15px;  width : 200px;" th:text="#{text.back}">CONFIRM BOOKING
            </button>

        </div>


    </div>
    </form>
</div>

<script>


    const unitPrice = document.getElementById('unitPrice');
    const countX = document.getElementById('countX');
    const totalPrice = document.getElementById('totalPrice');

    unitPrice.innerHTML = unitPrice.innerHTML.split('.')[0];

    totalPrice.innerHTML = (Number(unitPrice.innerHTML) * Number(countX.innerHTML) + '');


</script>
</body>
</html>