<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <div th:replace="fragments/header :: header-menu"></div>
</head>
<body class="FonL app-contact-body">
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>

<div class="row justify-content-center" style="margin-top: 100px">
    <div class="list-group" style="width: 600px">
        <form action="#" th:action="@{/order}" method="post">
        <button href="#" th:value="${order.id}" name = "ordersId" th:each="order, item : ${orders}"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <div class="mb-1">
                    <label class="main-label" th:text="${order.date.dayOfWeek + ', '}"
                           style="color: #333333; font-size: 20px">Friday,
                        January 17th 2020 at 2:00 pm</label>
                    <label class="main-label"
                           th:text="${order.date.dayOfMonth +'/' + order.date.monthValue + '/' + order.date.year}"
                           style="color: #333333; font-size: 20px"></label>
                    <label class="main-label" th:text="${' at ' + order.eventTime}"
                           style="color: #333333; font-size: 20px"></label>
                </div>
                <small style="margin-left: 281px" th:if="${order.orderType.name() == 'NEW'}"> <span class="badge badge-success">new</span></small>
                <small style="margin-left: 281px" th:if="${order.orderType.name() == 'IN_PROCESS'}"> <span class="badge badge-pill badge-info">new</span></small>
                <small style="margin-left: 281px" th:if="${order.orderType.name() == 'CLOSED'}"> <span class="badge badge-pill badge-secondary">new</span></small>
            </div>
            <p class="mb-1" th:text="${order.menu.name}">Draniki po yzbecki</p>
            <small>
                <label/>Income:
                <label th:text="${order.menu.price}"/>
                <label/> руб.
            </small>
        </button>
        </form>
    </div>
</div>
</body>
</html>