<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <div th:replace = "fragments/header :: header-menu"></div>
</head>
<body>
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>

<div class="menuNavbar" style="margin-bottom: 10px"></div>
<div class="container-profile">
    <div class="inner-profile">

        <form action="#" th:action="@{/filledProfile}" th:object="${profile}" method="post">

            <div class="column-profile-right">
                <div class="from-group div-profile">
                    <label class="label-profile" th:text="#{text.First_name}">First name</label>
                    <input type="text" th:value="${profile.name}" th:name="name" class="form-control input-profile" th:placeholder="#{text.Your_first_name}"/>
                    <input type="hidden" th:value="${profile.id}" th:name="id" class="form-control input-profile" required/>
                </div>
                <div class="from-group div-profile">
                    <label class="label-profile" th:text="#{text.Last_name}">Last name</label>
                    <input  type="text" th:value="${profile.surname}" th:name="surname" class="form-control input-profile" th:placeholder="#{text.Your_last_name}" required/>
                </div>



                <div class="from-group div-profile" style="margin-top: -4.5px">
                    <label class="label-profile" th:text="#{text.E-mail}">E-mail</label>
                    <input type="email" th:value="${profile.email}" th:name="email"  class="form-control input-profile" aria-describedby="emailHelp"
                           th:placeholder="#{text.Enter_email}" required>
                </div>
                <div class="from-group div-profile">
                    <label class="label-profile" th:text="#{text.Password}">Password</label>
                    <input type="password" th:value="${profile.password}" th:name="password"  class="form-control input-profile" th:placeholder="#{text.Enter_password}" placeholder="Password" required>
                </div>
            </div>






            <div class="column-profile">
                <div class="from-group div-profile-right">
                    <label class="label-profile" th:text="#{text.city}">City</label>
                    <input type="text" class="form-control input-profile"  th:value="${profile.city}" th:name="city" id="inputCity" placeholder="City" required>
                </div>

                <div class="from-group div-profile-right">
                    <label class="label-profile" th:text="#{text.Address}">Address</label>
                    <input type="text" th:value="${profile.address}" th:name="address" class="form-control input-profile " placeholder="Address" required>
                </div>


                <div class="from-group div-profile-right">
                    <label class="label-profile" th:text="#{text.Phone_number}">Phone number</label>
                    <input type="text" th:value="${profile.mobile}" th:name="mobile"  class="form-control input-profile" placeholder="Phone number" required pattern="\+*[0-9]+">
                </div>

                <div class="from-group div-profile">
                    <label class="label-profile" th:text="#{text.Date_of_birth}">Date of birth</label>
                    <div class="form-group row" style="margin-left: 0em;">

                        <div style="width : 70px;  margin-right: 7px;">
                            <select class="form-control" th:field="${profile.birthdayDay}">
                                <option th:value="${'1'}"  th:text="${'1'}"></option>
                                <option th:value="${'2'}"  th:text="${'2'}"></option>
                                <option th:value="${'3'}"  th:text="${'3'}"></option>
                                <option th:value="${'4'}"  th:text="${'4'}"></option>
                                <option th:value="${'5'}"  th:text="${'5'}"></option>
                                <option th:value="${'6'}"  th:text="${'6'}"></option>
                                <option th:value="${'7'}"  th:text="${'7'}"></option>
                                <option th:value="${'8'}"  th:text="${'8'}"></option>
                                <option th:value="${'9'}"  th:text="${'9'}"></option>
                                <option th:value="${'10'}" th:text="${'10'}"></option>
                                <option th:value="${'11'}" th:text="${'11'}"></option>
                                <option th:value="${'12'}" th:text="${'12'}"></option>
                                <option th:value="${'13'}" th:text="${'13'}"></option>
                                <option th:value="${'14'}" th:text="${'14'}"></option>
                                <option th:value="${'15'}" th:text="${'15'}"></option>
                                <option th:value="${'16'}" th:text="${'16'}"></option>
                                <option th:value="${'17'}" th:text="${'17'}"></option>
                                <option th:value="${'18'}" th:text="${'18'}"></option>
                                <option th:value="${'19'}" th:text="${'19'}"></option>
                                <option th:value="${'20'}" th:text="${'20'}"></option>
                                <option th:value="${'21'}" th:text="${'21'}"></option>
                                <option th:value="${'22'}" th:text="${'22'}"></option>
                                <option th:value="${'23'}" th:text="${'23'}"></option>
                                <option th:value="${'24'}" th:text="${'24'}"></option>
                                <option th:value="${'25'}" th:text="${'25'}"></option>
                                <option th:value="${'26'}" th:text="${'26'}"></option>
                                <option th:value="${'27'}" th:text="${'27'}"></option>
                                <option th:value="${'28'}" th:text="${'28'}"></option>
                                <option th:value="${'29'}" th:text="${'29'}"></option>
                                <option th:value="${'30'}" th:text="${'30'}"></option>
                                <option th:value="${'31'}" th:text="${'31'}"></option>
                            </select>
                        </div>
                        <div style="width : 130px;  margin-right: 7px;">
                            <select class="form-control"  th:field="${profile.birthdayMonth}">
                                <option th:value="${'January'}" th:text="#{text.January}">January</option>
                                <option th:value="${'February'}" th:text="#{text.February}">February</option>
                                <option th:value="${'March'}" th:text="#{text.March}">March</option>
                                <option th:value="${'April'}" th:text="#{text.April}">April</option>
                                <option th:value="${'May'}" th:text="#{text.May}">May</option>
                                <option th:value="${'June'}" th:text="#{text.June}">June</option>
                                <option th:value="${'July'}" th:text="#{text.July}">July</option>
                                <option th:value="${'August'}" th:text="#{text.August}">August</option>
                                <option th:value="${'September'}" th:text="#{text.September}">September</option>
                                <option th:value="${'October'}" th:text="#{text.October}">October</option>
                                <option th:value="${'November'}" th:text="#{text.November}">November</option>
                                <option th:value="${'December'}" th:text="#{text.December}">December</option>
                            </select>
                        </div>
                        <div style="width : 85px;  margin-right: 7px;">
                            <select class="form-control"  th:field="${profile.birthdayYear}">
                                <option th:value="${'2004'}" th:text="${'2004'}"></option>
                                <option th:value="${'2003'}" th:text="${'2003'}"></option>
                                <option th:value="${'2002'}" th:text="${'2002'}"></option>
                                <option th:value="${'2001'}" th:text="${'2001'}"></option>
                                <option th:value="${'2000'}" th:text="${'2000'}"></option>
                                <option th:value="${'1999'}" th:text="${'1999'}"></option>
                                <option th:value="${'1998'}" th:text="${'1998'}"></option>
                                <option th:value="${'1997'}" th:text="${'1997'}"></option>
                                <option th:value="${'1996'}" th:text="${'1996'}"></option>
                                <option th:value="${'1995'}" th:text="${'1995'}"></option>
                                <option th:value="${'1994'}" th:text="${'1994'}"></option>
                                <option th:value="${'1993'}" th:text="${'1993'}"></option>
                                <option th:value="${'1992'}" th:text="${'1992'}"></option>
                                <option th:value="${'1991'}" th:text="${'1991'}"></option>
                                <option th:value="${'1990'}" th:text="${'1990'}"></option>
                                <option th:value="${'1989'}" th:text="${'1989'}"></option>
                                <option th:value="${'1988'}" th:text="${'1988'}"></option>
                                <option th:value="${'1987'}" th:text="${'1987'}"></option>
                                <option th:value="${'1986'}" th:text="${'1986'}"></option>
                                <option th:value="${'1985'}" th:text="${'1985'}"></option>
                                <option th:value="${'1984'}" th:text="${'1984'}"></option>
                                <option th:value="${'1983'}" th:text="${'1983'}"></option>
                                <option th:value="${'1982'}" th:text="${'1982'}"></option>
                                <option th:value="${'1981'}" th:text="${'1981'}"></option>
                                <option th:value="${'1980'}" th:text="${'1980'}"></option>
                                <option th:value="${'1979'}" th:text="${'1979'}"></option>
                                <option th:value="${'1978'}" th:text="${'1978'}"></option>
                                <option th:value="${'1977'}" th:text="${'1977'}"></option>
                                <option th:value="${'1976'}" th:text="${'1976'}"></option>
                                <option th:value="${'1975'}" th:text="${'1975'}"></option>
                                <option th:value="${'1974'}" th:text="${'1974'}"></option>
                                <option th:value="${'1973'}" th:text="${'1973'}"></option>
                                <option th:value="${'1972'}" th:text="${'1972'}"></option>
                                <option th:value="${'1971'}" th:text="${'1971'}"></option>
                                <option th:value="${'1970'}" th:text="${'1970'}"></option>
                                <option th:value="${'1969'}" th:text="${'1969'}"></option>
                                <option th:value="${'1968'}" th:text="${'1968'}"></option>
                                <option th:value="${'1967'}" th:text="${'1967'}"></option>
                                <option th:value="${'1966'}" th:text="${'1966'}"></option>
                                <option th:value="${'1965'}" th:text="${'1965'}"></option>
                                <option th:value="${'1964'}" th:text="${'1964'}"></option>
                                <option th:value="${'1963'}" th:text="${'1963'}"></option>
                                <option th:value="${'1962'}" th:text="${'1962'}"></option>
                                <option th:value="${'1961'}" th:text="${'1961'}"></option>
                                <option th:value="${'1960'}" th:text="${'1960'}"></option>
                                <option th:value="${'1959'}" th:text="${'1959'}"></option>
                                <option th:value="${'1958'}" th:text="${'1958'}"></option>
                                <option th:value="${'1957'}" th:text="${'1957'}"></option>
                                <option th:value="${'1956'}" th:text="${'1956'}"></option>
                                <option th:value="${'1955'}" th:text="${'1955'}"></option>
                                <option th:value="${'1954'}" th:text="${'1954'}"></option>
                                <option th:value="${'1953'}" th:text="${'1953'}"></option>
                                <option th:value="${'1952'}" th:text="${'1952'}"></option>
                                <option th:value="${'1951'}" th:text="${'1951'}"></option>
                                <option th:value="${'1950'}" th:text="${'1950'}"></option>
                                <option th:value="${'1959'}" th:text="${'1949'}"></option>
                                <option th:value="${'1948'}" th:text="${'1948'}"></option>
                                <option th:value="${'1947'}" th:text="${'1947'}"></option>
                                <option th:value="${'1946'}" th:text="${'1946'}"></option>
                                <option th:value="${'1945'}" th:text="${'1945'}"></option>
                                <option th:value="${'1944'}" th:text="${'1944'}"></option>
                                <option th:value="${'1943'}" th:text="${'1943'}"></option>
                                <option th:value="${'1942'}" th:text="${'1942'}"></option>
                                <option th:value="${'1941'}" th:text="${'1941'}"></option>
                                <option th:value="${'1940'}" th:text="${'1940'}"></option>
                            </select>
                        </div>

                    </div>
                </div>



            </div>
            <div class="row justify-content-center">
                <button class="btn btn-classic save" style="display: inline-block; margin-top: 20px" th:text="#{text.SAVE}">Save</button>
            </div>
        </form>
    </div>

</div>



<label id="1" style="display: none"  th:text="#{text.please_fill_out_this_field}"></label>
<label id="2" style="display: none"  th:text="#{text.does_not_match_type}"></label>





<script type="text/javascript" th:src="@{/script/jquery.js}"></script>

<script>

    $('input').on('input invalid', function() {
        this.setCustomValidity('')
        if (this.validity.valueMissing) {
            this.setCustomValidity($("#1").text())
        }
        if (this.validity.typeMismatch) {
            this.setCustomValidity($("#2").text())
        }
        if (this.validity.patternMismatch) {
            this.setCustomValidity($("#2").text())
        }
    })
</script>

</body>
</html>