<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>see menu</title>
    <script type="text/javascript" th:src="@{/script/jquery.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/seeMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body  style="background-color: #f9f8f6;">
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>





<div class="container-new-menu">
    <div class="card new-menu-card" style="width: 580px; border: 0px">

        <div class="row justify-content-center" style="margin-top: 15px">
            <label class="main-label"><b>SERVICE DESCRIPTION</b></label>
        </div>

        <div style="margin-left: 30px; margin-right: 30px">
            <label class="label-two">
                The chef brings all ingredients, prepares the meal in your kitchen, serves each dish, and does the
                washing up before leaving
            </label>
        </div>


        <div class="card-body" th:each="dish, item : ${editMenu.dishes}">

            <div class="card dish-card"
                 style="position: absolute; left: -1px; width: 580px; border-color:  #f9f8f6;border-style: solid"></div>


            <div>
                <div class="row justify-content-center" style="margin-top: 25px">
                    <label class="main-label"><b th:text="${dish.dishType}">SERVICE DESCRIPTION</b></label>
                </div>

                <div style="margin-left: 30px; margin-right: 30px">
                    <label class="label-two" th:text="${dish.name}">

                    </label>
                </div>
            </div>
        </div>




    </div>


</div>











<a th:href="${(#mvc.url('MC#getCookPersonalPage')).build()}" th:text="#{text.back}">back</a><p></p>
<!-------------------------------------- Edit list of dishes--------------------------------------------------->
<form action="#" th:action="@{/saveMenu}" th:object="${editMenu}" method="post">
    <input type="hidden" th:value="${editMenu.id}" th:name="id">
    <label th:text="#{text.name}">name</label>
    <input type="text" th:value="${editMenu.name}" th:name="name">
    <p></p>
    <label th:text="#{text.type}">type</label>
    <input type="text" th:value="${editMenu.luxury}" th:name="luxury">
    <p></p>
    <label th:text="#{text.price}">price</label>
    <input type="text" th:value="${editMenu.price}" th:name="price">
    <p></p>
    <div th:each="dish, item : *{dishes}" ><input type="hidden" th:field="*{dishes[__${item.index}__].id}"></div>
    <div>
        <table th:unless="*{dishes.empty}" border="1">
            <tr>
                <td th:each="dish, item : *{dishes}">
                    <select th:field="*{dishes[__${item.index}__].dishType}">
                        <option th:each="type : ${allTypesDish}" th:value="${type}" th:text="#{${'text.type.' + type}}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td th:each="dish, item : *{dishes}">
                    <input th:field="*{dishes[__${item.index}__].name}" />
                </td>
            </tr>
            <tr>
                <td th:each="dish, item : *{dishes}"><input th:field="*{dishes[__${item.index}__].cuisine.name}"/>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>