<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>time work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<a th:href="${(#mvc.url('CC#getCookPersonalPage')).build()}" th:text="#{text.back}">back</a><p></p>
<form action="#" th:action="@{/timeWorkBox}"  method="post">
    <table>
        <tr th:each="day, item : ${weekDays}">
            <td th:unless="${selectedBox.get(item.index) != 1}">
                <input type="checkbox" th:value="${day}" th:name="${item.index}"  th:text="#{${'text.day.' + day}}"  checked="checked">
            </td>


            <td th:unless="${selectedBox.get(item.index) == 1}">
                <input type="checkbox" th:value="${day}" th:name="${item.index}" th:text="#{${'text.day.' + day}}">
            </td>


            <td th:unless="${selectedBox.get(item.index) != 1}">
                <select th:name="${'timeStart'} + ${item.index}">
                    <option th:each="hour : ${time}" th:value="${hour}" th:text="${hour}">
                    </option>
                </select>
            </td>


            <td th:unless="${selectedBox.get(item.index) != 1}">
                <select th:name="${'timeEnd'} + ${item.index}">
                    <option th:each="hour : ${time}" th:value="${hour}" th:text="${hour}">
                    </option>
                </select>
            </td>


        </tr>
    </table>
    <button type="submit" th:text="#{text.submit}" name="saveTime"> submit</button>
</form>

</body>
</html>