<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <title>Personal page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <img src="C:\Users\egors\Desktop\project\sam-solutions-project\src\main\resources\carmenpaella.jpg"
         alt="Центрируем изображение" class="center-img"/>
</div>
<div>
    <form>
        <button>Edit</button>
    </form>
</div>
<div>
    <form>
        <button>See more</button>
    </form>
</div>
</body>
</html>

