.main-div-img{
    background: url("../images/viewMenu.jpg" )  no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;

}


.main-div{
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 11px 8px 7px 0px rgba(0, 0.25, 0.25, 0.25);
}

.cuisine-card-selected{
    font-size: 12px;
    color: white;
    background: #F39939;
    font-family: GothamBook;
    display: inline-block;
    vertical-align: top
}

.cuisine-card{
    font-size: 12px;
    color: #999;
    font-family: GothamBook;
    display: inline-block;
    vertical-align: top
}

.cuisine-card:hover{
    background: #767676;
    font-size: 12px;
    font-family: GothamBook;
    color: white;
    display: inline-block;
    vertical-align: top
}

.cuisine-card-label{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;

}