<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/selectTown}" th:object="${town}" method="post">
    <div>
        <select th:field="${town.id}">
            <option th:each="town : ${townList}" th:value="${town.id}"  th:text="${town.name}">
            </option>
        </select>
        <button type="submit" data-th-text="#{text.submit}">submit</button>
    </div>

    <div>
        <select th:field="${town.id}">
            <option th:each="district : ${districtList}" th:value="${town.id}"  th:text="${district.name}">
            </option>
        </select>
    </div>
</form>
</body>
</html>