<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/selectTown}" th:object="${town}" method="post">
    <div>
        <select >
            <option th:each="town : ${townList}" th:value="${town.name}" th:name="name" th:text="${town.name}">
                <input type="hidden" th:value="${town.id}" th:name="id">
            </option>
        </select>
        <button type="submit" data-th-text="#{text.submit}">submit</button>
    </div>
</form>
</body>
</html>