<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
</head>
<body>


<!-------------------------------------- Edit list of dishes--------------------------------------------------->
<form action="#" data-th-action="@{/saveMenu}" data-th-object="${editMenu}" method="post">
    <input type="hidden" data-th-value="${editMenu.id}" data-th-name="id">
    <input type="hidden" data-th-value="${editMenu.name}" data-th-name="name">
    <input type="hidden" data-th-value="${editMenu.luxury}" data-th-name="luxury">
    <input type="hidden" data-th-value="${editMenu.price}" data-th-name="price">
    <div data-th-each="dish, item : *{dishes}" ><input type="hidden" data-th-field="*{dishes[__${item.index}__].id}"></div>
    <div>
        <table border="1">


            <tr>
                <td data-th-each="dish, item : *{dishes}">
                    <select data-th-field="*{dishes[__${item.index}__].dishType}">
                        <option data-th-each="type : ${allTypesDish}" data-th-value="${type}" data-th-text="#{${'text.type.' + type}}" data-th-selected="${type == editMenu.dishes[item.index].dishType}"></option>
                    </select>
                </td>
            </tr>


            <tr>
                <td data-th-each="dish, item : *{dishes}">
                    <input data-th-field="*{dishes[__${item.index}__].name}" />
                </td>
            </tr>
            <tr>
                <td data-th-each="dish, item : *{dishes}"><input data-th-field="*{dishes[__${item.index}__].cuisine}"/>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td data-th-each="dish, item : *{dishes}">
                    <button type="submit" data-th-text="#{text.remove_row}" data-th-value="${item.index}" name="removeRow"> remove row </button>
                </td>
            </tr>
        </table>
    </div>

    <button type="submit" data-th-text="#{text.add_row}" name="addRow"> add row </button>
    <button type="submit" data-th-text="#{text.submit}" name="submit"> submit </button>


</form>


</body>
</html>