<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<!--<body>-->

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--                    aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span> <span-->
<!--                    class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--                    class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#" th:href="@{/}">Registration and-->
<!--                Login Module</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<br>-->
<!--<br>-->

<!--<div class="container">-->

<!--    <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--            <h1>Login page</h1>-->
<!--            <form th:action="@{/signIn}" th:object="${client}" method="post">-->
<!--                <div th:if="${param.error}">-->
<!--                    <div class="alert alert-danger">Invalid username or-->
<!--                        password.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div th:if="${param.logout}">-->
<!--                    <div class="alert alert-info">You have been logged out.</div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="email">Email</label>:-->
<!--                    <input type="text" th:value="${client.email}" name="email" id="email" class="form-control" autofocus="autofocus" placeholder="email"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="password">Password</label>:-->
<!--                    <input type="password" th:value="${client.password}" name="password" id="password"  class="form-control" placeholder="password"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6 col-sm-offset-3">-->
<!--                            <input type="submit" name="login-submit" id="login-submit"-->
<!--                                   class="form-control btn btn-primary" value="Log In"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--      <span>New userEntity? <a href="/" th:href="@{/registration}">Register here</a></span>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->
<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
<!--</body>-->


<body class="FonL app-contact-body">
<div class="container-profile">
    <div class="inner-profile">


        <form th:action="@{/signIn}" th:object="${user}" method="post">
            <div id="columnRight" class="column-profile-right">

                <label class="row justify-content-center label-login" style="margin-top: 120px">I have an
                    account</label>
                <div class="row justify-content-center">

                    <input type="name" th:value="${user.email}" name="email" class="form-control input-login"
                           aria-describedby="emailHelp" placeholder="Enter email">


                    <input type="password" th:value="${user.password}" name="password" class="form-control input-login"
                           placeholder="Password">

                </div>

                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-classic save"
                            style="display: inline-block; margin-top: 12px;  width : 250px;">LOGIN
                    </button>
                </div>

                <div class="row justify-content-center">
                    <a class="link-login" style="  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;">Forgot your password?</a>
                </div>
            </div>
        </form>

        <div class="column-profile">
            <form th:action="@{/registration/}" th:object="${user}" method="post" >
                <div id="registrationDiv" style=" display: none">

                    <div class="row justify-content-center from-group cook-registr">
                        <input type="text" th:value="${user.name}" th:name="name" class="form-control input-login"
                               style="margin-top: 20px"
                               placeholder="Your first name"/>
                    </div>


                    <div class="row justify-content-center from-group   cook-registr">
                        <input type="text" th:value="${user.surname}" th:name="surname" class="form-control input-login"
                               placeholder="Your last name"/>
                    </div>

                    <div class="row justify-content-center from-group  -right" style="margin-bottom: 30px">
                        <input type="text" th:value="${user.mobile}" th:name="mobile" class="form-control input-login"
                               placeholder="Phone number">
                    </div>

                    <div class="row justify-content-center from-group   cook-registr" style="margin-top: -14.5px">

                        <input type="email" th:value="${user.email}" th:name="email" class="form-control input-login"
                               aria-describedby="emailHelp"
                               placeholder="Enter email">
                    </div>
                    <div class="row justify-content-center from-group   cook-registr">

                        <input type="password" th:value="${user.password}" th:name="password"
                               class="form-control input-login"
                               placeholder="Password">
                    </div>

                </div>

                <label id="topLabel" class="row justify-content-center label-login" style="margin-top: 120px">I don't
                    have an
                    account yet</label>

                <div class="row justify-content-center">
                    <button id="singUp" type="submit" class="btn btn-classic save"
                            style="display: inline-block;  width : 250px; background-color: #7f262a">SING UP
                    </button>
                </div>

                <div class="row justify-content-center">
                    <a class="link-login" th:href="${(#mvc.url('RC#showRegistrationFormForCook')).build()}"
                       th:text="#{text.iamchef}" style="text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;">I'm a chef and would like to join your team</a>
                </div>
            </form>
        </div>


    </div>
</div>
</body>

</html>


<script>

    var singUp = document.getElementById('singUp');
    var registrationDiv = document.getElementById('registrationDiv');
    var topLabel = document.getElementById('topLabel');
    var columnRight = document.getElementById('columnRight');

    registrationDiv.setAttribute("style", 'display: initial');
    topLabel.setAttribute("style", "display: none");
    singUp.setAttribute("style", "margin-top: 10px; display: inline-block;  width : 250px; background-color: #7f262a");
    columnRight.setAttribute("style", "height: 512px")


</script>



