<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>


<form action="#" th:action="@{/viewMenu}" th:object="${order}" method="post">
    <div>
        <span class="add-on">In</span>
        <select th:field="${order.town}" id="select_">
            <option th:each="t : ${townList}" th:value="${t.id}" th:text="${t.name}"></option>
        </select>


        <select th:field="${order.district.id}" id ="selectDistricts">
            <option th:each="district : ${districtList}" th:value="${district.id}" th:text="${district.name}">
            </option>
        </select>

        <span class="add-on">on</span>

        <input type="date"  th:value="${order.date}"  th:field="${order.date}" min="2019-12-01" max="2020-03-31">

        <span class="add-on">at</span>
        <select th:field="${order.time}">
            <option th:each="hour : ${time}" th:value="${hour}" th:text="${hour}">
            </option>
        </select>

        <button type="submit" th:text="#{text.view_menu}" name="save">view menu</button>

    </div>

</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">


    // let selectButton = document.getElementById('select_');
    // var RestPost = function() {
    //     $.ajax({
    //         type: 'POST',
    //         url:  "http://localhost:8083/sam_solutions_project_war/getDistricts",
    //         dataType: 'json',
    //         async: true,
    //         success: function(result) {
    //             alert(result.id);
    //             console.log(result)
    //         },
    //         error: function() {
    //             alert("error");
    //         }
    //     });
    // }
    // selectButton.addEventListener("change", RestPost);


    const selectDistrict = document.getElementById('selectDistricts');
    console.log(selectDistrict.target);

    const selectButton = document.getElementById('select_');
    selectButton.addEventListener("change", function () {
        const select = document.getElementById("select_");
        const obj = { "id": select.value}
        fetch( "http://sc0489:8080/personalcook_war_exploded/getDistricts",{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(obj)
        })
            .then(resp => resp.json()
            .then(json => {
                console.log(json);
                while (selectDistrict.length > 0) {
                    selectDistrict.remove(0);
                }
                json.map(item => {
                    const option = document.createElement("option");
                    option.setAttribute("value", item.id.toString());
                    option.innerHTML = item.name.toString();
                    selectDistrict.appendChild(option);
                });
            }));
    });



</script>







</body>
</html>
