<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace = "fragments/header :: header-menu"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tail.select-default.css}">
</head>

<body class=FonIn style="padding: 0px">

<div sec:authorize="hasAuthority('COOK')">
    <nav class="navbar navbar-dark bg-dark" style="position: fixed; top: -3px; width: 100%;z-index: 2" >
        <div class="form-inline  app-nav-bar-container" style="margin-left: 60%">
            <div class="btn-group" style="flex: 2;">
                <button type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        th:text="#{text.Language}"
                        style="position: absolute; right: 0;  top: -15px; color:#ca6a45;  background-color: #343a40!important; border: 0;font-size: 20px;font-family: Bree Serif, serif;">
                </button>
                <div class="dropdown-menu" style="right: 0; left: auto; top: 30px; background-color: #343a40!important;">
                    <a class="dropdown-item app-nav-link-item" style="color: whitesmoke;"  th:href="@{?lang=ru_RU}" th:text="#{text.Russian}">Russian</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item" style="color: whitesmoke;"  th:href="@{?lang=de}" th:text="#{text.Deutsch}">Deutsch</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item" style="color: whitesmoke;"  th:href="@{?lang=en_US}" th:text="#{text.English}">English</a>
                </div>
            </div>
            <a class="nav-link active app-nav-link-item" th:href="${(#mvc.url('OC#getOrdersPage')).build()}" th:text="#{text.orders}" style="flex:1" >Orders</a>
            <a class="nav-link active app-nav-link-item"  th:href="${(#mvc.url('PC#getProfilePage')).build()}" th:text="#{text.profile}" style="flex:1">Profile</a>
            <a class="nav-link active app-nav-link-item" th:href="${(#mvc.url('WTC#getTimeWorkPage')).build()}" th:text="#{text.workingHours}" style="flex:1.5" >Time Work</a>
            <a class="nav-link active app-nav-link-item" th:href="${(#mvc.url('WLC#getCookWorkLocationPage')).build()}" th:text="#{text.location}" style="flex:1" >Location</a>
            <a class="nav-link active app-nav-link-item" th:href="${(#mvc.url('MC#getCookMenuPage')).build()}" th:text="#{text.menus}" style="flex:1" >Menus</a>
            <div class="btn-group" style="flex: 2; ">
                <button type="button" class="" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        style="position: absolute; right: 0;  top: -15px; color:#ca6a45;  background-color: #343a40!important; border: 0;font-size: 20px;font-family: Bree Serif, serif;" th:text="#{text.My_account}">
                    My account
                </button>
                <div class="dropdown-menu" style="right: 0; left: auto; top: 30px; background-color: #343a40!important;">
                    <a class="dropdown-item app-nav-link-item"  th:href="${(#mvc.url('MPC#getMainPage')).build()}" th:text="#{text.Maim_page}">Main page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item app-nav-link-item"   th:href="@{/logout}" th:text="#{text.Logout}">Logout</a>
                </div>
            </div>

        </div>
    </nav>
</div>
<div sec:authorize="hasAuthority('CLIENT')">
    <nav class="navbar navbar-dark bg-dark" style="position: fixed; top: -3px; width: 100%;z-index: 2" >
        <a class="nav-link active app-nav-link-item" style="color: #343a40">_</a>
        <div class="form-inline  app-nav-bar-container" style="margin-left: 60%">
            <div class="btn-group" style="flex: 2;margin-right: 70px ">
                <button type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        th:text="#{text.Language}"
                        style="position: absolute; right: 0;  top: -15px; color:#ca6a45;  background-color: #343a40!important; border: 0;font-size: 20px;font-family: Bree Serif, serif;">
                    Language
                </button>
                <div class="dropdown-menu" style="right: 0; left: auto; top: 30px; background-color: #343a40!important;">
                    <a class="dropdown-item app-nav-link-item"  th:href="@{?lang=ru_RU}" th:text="#{text.Russian}">Russian</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item"   th:href="@{?lang=de}" th:text="#{text.Deutsch}">Deutsch</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item"   th:href="@{?lang=en_US}" th:text="#{text.English}">English</a>
                </div>
            </div>
            <div class="btn-group" style="flex: 2; width: 110px;">
                <button type="button"  data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        style="width: 110px;  position: absolute; right: 0;  top: -15px; color:#ca6a45;  background-color: #343a40!important; border: 0;font-size: 20px;font-family: Bree Serif, serif;" th:text="#{text.My_account}">
                    My account
                </button>
                <div class="dropdown-menu" style="right: 0; left: auto; top: 30px; background-color: #343a40!important;">
                    <a class="dropdown-item app-nav-link-item" th:href="${(#mvc.url('MPC#getMainPage')).build()}" th:text="#{text.Maim_page}">Main page</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item"   th:href="${(#mvc.url('COC#getOrdersPage')).build()}" th:text="#{text.My_orders}">My orders</a>
                    <div class="dropdown-divider" style="color: whitesmoke;"></div>
                    <a class="dropdown-item app-nav-link-item"  th:href="@{/logout}" th:text="#{text.Logout}">Logout</a>
                </div>
            </div>

        </div>
    </nav>
</div>
<div sec:authorize="!isAuthenticated()">
    <nav class="navbar navbar-dark bg-dark" style="position: fixed; top: -3px; width: 100%;z-index: 2">
        <a class="navbar-brand"></a>

        <div class="btn-group" style="flex: 2; margin-right: 10px">
            <button type="button" class="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    th:text="#{text.Language}"
                    style="position: absolute; right: 0;  top: -15px; color:#ca6a45;  background-color: #343a40!important; border: 0;font-size: 20px;font-family: Bree Serif, serif;">
                Language
            </button>
            <div class="dropdown-menu" style="right: 0; left: auto; top: 30px; background-color: #343a40!important;">
                <a class="dropdown-item app-nav-link-item"  th:href="@{?lang=ru_RU}" th:text="#{text.Russian}">Russian</a>
                <div class="dropdown-divider" style="color: whitesmoke;"></div>
                <a class="dropdown-item app-nav-link-item"   th:href="@{?lang=de}" th:text="#{text.Deutsch}">Deutsch</a>
                <div class="dropdown-divider" style="color: whitesmoke;"></div>
                <a class="dropdown-item app-nav-link-item"  th:href="@{?lang=en_US}" th:text="#{text.English}">English</a>
            </div>
        </div>
        <div class="form-inline  app-nav-bar-container" style="width: 70px">
            <a class="nav-link active app-nav-link-item"
               th:href="${(#mvc.url('USIC#login')).build()}" th:text="#{text.login}" style="flex:1;" >Login</a>
        </div>
    </nav>
</div>



<form action="#" th:action="@{/viewMenu}" th:object="${order}" method="post">

    <div class="app-info-container">

        <div class="form-group row"
             style="width: 100%; color:white; font-size: 30px;position: relative; top: 200px; text-align: center; height: 10em;
  display: flex;
  align-items: center;
  justify-content: center">

            <span>in</span>
            <div style="padding: 10px;">
                <select class=" form-control input-main" th:field="${order.town}" id="select_">
                    <option th:each="t : ${townList}" th:value="${t.id}" th:text="${t.name}"></option>
                </select>
            </div>

            <div style="padding: 10px;">
                <select class="form-control input-main" th:field="${order.district.id}" id="selectDistricts"
                        style="z-index: 2">
                    <option th:each="district : ${districtList}" th:value="${district.id}" th:text="${district.name}">
                    </option>
                </select>
            </div>

            <div>
                <span>on</span>
            </div>


            <div style="padding: 10px;">
                <input class="form-control input-main" type="date" id="orderedDate" th:value="${order.date}" th:field="${order.date}"
                       min="2019-12-01" max="2020-03-31">
            </div>

            <span>at</span>
            <div style="padding: 10px;">
                <select th:field="${order.time}" class="form-control" style="width: 90px"/>
                    <option th:value="${'01:00'}" th:text="${'01:00'}">01:00</option>
                    <option th:value="${'02:00'}" th:text="${'02:00'}">02:00</option>
                    <option th:value="${'03:00'}" th:text="${'03:00'}">03:00</option>
                    <option th:value="${'04:00'}" th:text="${'04:00'}">04:00</option>
                    <option th:value="${'05:00'}" th:text="${'05:00'}">05:00</option>
                    <option th:value="${'06:00'}" th:text="${'06:00'}">06:00</option>
                    <option th:value="${'07:00'}" th:text="${'07:00'}">07:00</option>
                    <option th:value="${'08:00'}" th:text="${'08:00'}">08:00</option>
                    <option th:value="${'09:00'}" th:text="${'09:00'}">09:00</option>
                    <option th:value="${'10:00'}" th:text="${'10:00'}">10:00</option>
                    <option th:value="${'11:00'}" th:text="${'11:00'}">11:00</option>
                    <option th:value="${'12:00'}" th:text="${'12:00'}">12:00</option>
                    <option th:value="${'13:00'}" th:text="${'13:00'}">13:00</option>
                    <option th:value="${'14:00'}" th:text="${'14:00'}">14:00</option>
                    <option th:value="${'15:00'}" th:text="${'15:00'}">15:00</option>
                    <option th:value="${'16:00'}" th:text="${'16:00'}">16:00</option>
                    <option th:value="${'17:00'}" th:text="${'17:00'}">17:00</option>
                    <option th:value="${'18:00'}" th:text="${'18:00'}">18:00</option>
                    <option th:value="${'19:00'}" th:text="${'19:00'}" selected>19:00</option>
                    <option th:value="${'20:00'}" th:text="${'20:00'}">20:00</option>
                    <option th:value="${'21:00'}" th:text="${'21:00'}">21:00</option>
                    <option th:value="${'22:00'}" th:text="${'22:00'}">22:00</option>
                    <option th:value="${'23:00'}" th:text="${'23:00'}">23:00</option>
                    <option th:value="${'24:00'}" th:text="${'24:00'}">23:00</option>
                </select>
            </div>


            <div style="padding: 10px;">
                <button th:text="#{text.view_menu}" name="save" type="submit" class="btn btn-warning"
                        style=" border-radius: 5px; margin-top: 10px">view menu
                </button>
            </div>
        </div>
    </div>

    <div class="app-content-container" style="height: 300px;">
        <div class="app-content-text" style="padding: 0px; margin-top: 40px">
            <p style="font-size: 40px; text-align: center" th:text="#{text.Rediscover_the_pleasure}">Rediscover the pleasure of entertaining at home</p>
            <label th:text="#{text.We_believe_people}">
            We believe people should love hosting and entertaining others at home. It should be easy, delicious and
                enjoyable.</label>
        </div>
    </div>

</form>
<script type="text/javascript">
    $(document).ready(function () {


    //http://sc0489:8080/personalcook_war_exploded/
    //http://localhost:8084/sam_solutions_project_war/
    fetch("http://localhost:8084/sam_solutions_project_war/getAllTowns", { // try not to specify server here
        method: 'GET',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        }
    })
        .then(resp => resp.json()
        .then(json => {
        console.log(json);
    }))


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript" th:src="@{/script/mainPage.js}"></script>


</body>
</html>
