<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>


<nav class="navbar navbar-light" style="background-color: #232323;">
    <a th:href="@{?lang=en_Us}">English</a> <p></p>
    <a th:href="@{?lang=de}">Deutsch</a><p></p>
</nav>

<a th:href="${(#mvc.url('MC#getCookPersonalPage')).build()}" th:-text="#{text.details}">Details</a> <p></p>
<a th:href="${(#mvc.url('AC#getAvailabilitiesPage')).build()}" th:-text="#{text.availabilities}">Availabilities</a><p></p>
<a th:href="${(#mvc.url('MC#getCookPersonalPage')).build()}" th:-text="#{text.menus}">Menus</a><p></p>
</body>
</html>