<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/timeWorkBox}"  method="post">
    <table>
        <tr th:each="day, item : ${weekDays}">
            <td th:unless="${selectedBox.get(item.index) != 1}">
                <input type="checkbox" th:value="${day}" th:name="${item.index}" th:text="${day}" checked="checked">
            </td>


            <td th:unless="${selectedBox.get(item.index) == 1}">
                <input type="checkbox" th:value="${day}" th:name="${item.index}" th:text="${day}">
            </td>




        </tr>
    </table>
<!--    <button th:unless="${selectedBox.get(0) == null}" type="submit" th:text="#{text.submit}" name="submit"> submit</button>-->
    <button type="submit" th:text="#{text.submit}" name="submit"> submit</button>
</form>

</body>
</html>