<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>menu</title>


    <script type="text/javascript" th:src="@{/script/jquery.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/newMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/seeMenu.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body class="back">


<div sec:authorize="hasAuthority('COOK')">
    <div th:replace = "fragments/cookNavbar :: cookNavbar"></div>
</div>
<div sec:authorize="hasAuthority('CLIENT')">
    <div th:replace = "fragments/clientNavbar :: clientNavbar"></div>
</div>
<div sec:authorize="!isAuthenticated()">
    <nav class="navbar navbar-dark bg-dark" style="position: fixed; top: -3px; width: 100%;z-index: 2">
        <a class="navbar-brand"></a>

        <div class="form-inline  app-nav-bar-container" style="width: 70px">
            <a class="nav-link active app-nav-link-item"
               th:href="${(#mvc.url('USIC#login')).build()}" th:text="#{text.login}" style="flex:1; width: 30px; margin-left: -30px;" >Login</a>

        </div>
    </nav>
</div>


<form action="#" th:action="@{/makeOrder}" th:object="${order}" method="post">
<div class="row justify-content-center" style="margin-top: 100px; margin-bottom: 200px">
    <div class="card d-inline-block" style="width: 470px; height: 550px; border: 0px; margin-left: 70px">

        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label2" style="color: #333333; font-size: 15px" th:text="#{text.Start_time}">Start time</label>
        </div>

        <div style=" margin-left: 10px">
            <label class="main-label2" th:text="#{${'text.day.' + order.date.dayOfWeek}}" style="color: #333333; font-size: 14px">Friday, January 17th 2020 at 2:00 pm</label>
            <label class="main-label2" th:text="${order.date.dayOfMonth +'/' + order.date.monthValue + '/' + order.date.year +' '}" style="color: #333333; font-size: 14px">Friday, January 17th 2020 at 2:00 pm</label>
            <label class="main-label2" th:text="#{text.at}" style="color: #333333; font-size: 14px"></label>
            <label class="main-label2" th:text="${' ' + order.time}" style="color: #333333; font-size: 14px">Friday, January 17th 2020 at 2:00 pm</label>
        </div>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2 back"
                 style="width: 580px; margin-left: -20px; margin-top: -20px; height: 20px;  border-width: 0; border-radius: 0px;"></div>
        </div>

        <div style="margin-top: 15px; margin-left: 10px">
            <label class="main-label2" style="color: #333333; font-size: 15px" th:text="#{text.Specific_instructions}">Specific instructions</label>
        </div>

        <div style="margin-top: -8px; margin-left: 10px">
            <label class="main-label2" style="color: #333333; font-size: 12px" th:text="#{text.Inform_our_team}">Inform our team and your chef</label>
        </div>

        <div class="form-group" style="margin-left: 10px; margin-top: -10px; width: 440px">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="2"
                      th:value="${order.addInfo}" th:text="${order.addInfo}" th:name="addInfo" th:placeholder="#{text.Please_indicate_if_you_would}">
            </textarea>
        </div>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2 back"
                 style="width: 580px; margin-left: -20px; margin-top: -20px; height: 20px;  border-width: 0; border-radius: 0px"></div>
        </div>


        <div>
            <div class="d-inline-block" style="margin-top: 15px; margin-left: 10px">
                <label class="main-label2" style="color: #333333" th:text="#{text.First_name}">First Name</label>
            </div>
            <div class="d-inline-block" style="position:absolute; right: 0">
                <input type="text" th:value="${order.clientName}" th:name="clientName" class="form-control"
                       style="width: 330px;height: 30px; position:absolute; top:13px; left:-350px;"
                       th:placeholder="#{text.Your_first_name}" required/>
            </div>
        </div>

        <div>
            <div class="d-inline-block" style="margin-top: 15px; margin-left: 10px">
                <label class="main-label2" style="color: #333333" th:text="#{text.Last_name}">Last Name*</label>
            </div>
            <div class="d-inline-block" style="position:absolute; right: 0">
                <input type="text" th:value="${order.clientSurName}" th:name="clientSurName" class="form-control"
                       style="width: 330px;height: 30px; position:absolute; top:13px; left:-350px;"
                       th:placeholder="#{text.Your_last_name}" required/>
            </div>
        </div>


        <div>
            <div class="d-inline-block" style="margin-top: 15px; margin-left: 10px">
                <label class="main-label2" style="color: #333333" th:text="#{text.Phone_number}">Phone*</label>
            </div>
            <div class="d-inline-block" style="position:absolute; right: 0">
                <input type="text" th:value="${order.clientMobile}" th:name="clientMobile" class="form-control"
                      style="width: 330px;height: 30px; position:absolute; top:13px; left:-350px;"
                       th:placeholder="#{text.Your_Phone}" required pattern="\+*[0-9]+"/>
            </div>
        </div>

        <div>
            <div class="d-inline-block" style="margin-top: 15px; margin-left: 10px">
                <label class="main-label2" style="color: #333333" th:text="#{text.Address}">Address line*</label>
            </div>
            <div class="d-inline-block" style="position:absolute; right: 0">
                <input type="text" class="form-control" th:name="address" th:value="${order.address}"
                      style="width: 330px;height: 30px; position:absolute; top:13px; left:-350px;"
                       th:placeholder="#{text.Your_address}" required/>
            </div>
        </div>

        <div>
            <div class="d-inline-block" style="margin-top: 15px; margin-left: 10px">
                <label class="main-label2" style="color: #333333" th:text="#{text.city}">Town*</label>
            </div>
            <div class="d-inline-block" style="position:absolute; right: 0">
                <input type="text" class="form-control"  th:value="${order.town.name}"
                       style="width: 330px;height: 30px; position:absolute; top:13px; left:-350px;"
                       th:placeholder="#{text.Your_town}" required/>
            </div>
        </div>


    </div>

    <div class="card d-inline-block "
         style="width: 18rem;height: 470px ;margin-left: 20px; background-color: white; border: 0px; background-color: #222;">
        <div style="margin-left: 10px; margin-top: 5px; height: 20px">
            <label class="main-label2" style="color: #fff"><b th:text="#{text.YOUR_BOOKING_DETAILS}">YOUR BOOKING DETAILS</b></label>
        </div>
        <div style="color: whitesmoke;">
            <ul style="position: relative">
                <li style="position: absolute; top: 0px">
                    <label class="main-label2" th:text="${order.town.name}" style="color: whitesmoke; margin-left: 2px"></label>
                    <label class="main-label2"  style="color: whitesmoke; margin-left: -2px">, </label>
                    <label class="main-label2" th:text="${order.district.name}" style="color: whitesmoke; margin-left: 2px"></label>
                </li>
                <li style="position: absolute; top: 16px">
                    <label class="main-label2" th:text="${order.date.dayOfMonth +'/' + order.date.monthValue + '/' + order.date.year}" style="color: whitesmoke; margin-left: 2px"></label>
                </li>
                <li style="position: absolute; top: 32px">
                    <label class="main-label2" style="color: whitesmoke; margin-left: 2px" th:text="#{text.Service_time}">Service time </label>
                    <label class="main-label2" th:text="${order.time}" style="color: whitesmoke; margin-left: 2px" ></label>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:33px; width: 288px; border-color:  #000000;border-style: solid"></div>
        </div>

        <div class="card-body">
            <div class="card dish-card2 back"
                 style="position: absolute;left: 0px; top:110px; width: 288px;  height: 17px;  border-width: 0; border-radius: 0px;"></div>
        </div>


        <label class="main-label2" style="position: relative; top: 30px;color: whitesmoke; margin-left: 10px"><b th:text="#{text.YOUR_CART}">YOUR
            CART</b></label>

        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:185px; width: 288px; border-color:  #000000;border-style: solid"></div>
        </div>
        <label class="main-label2"
               style="color: whitesmoke; margin-left: 10px" th:text="#{text.Total_number_of_guests}">Total number of guests</label>

        <label class="main-label2" th:text="${order.countOfGuests}" id="selectGuests"
               style="color: whitesmoke; margin-left: 220px; position: relative; top: -30px">6</label>

        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:228px; width: 288px; border-color:  #000000;border-style: solid"></div>
        </div>

        <label class="main-label2"
               style="color: whitesmoke; margin-left: 10px; position: relative; top: -60px" th:text="#{text.Unit_price}">Unit price</label>

        <label class="main-label2" id="unitPrice" th:text="${order.price}"
               style="color: whitesmoke;  position: absolute; top: 240px; left: 220px">30</label>
        <label class="main-label2"
               style="color: whitesmoke;  position: absolute; top: 240px; left: 237px" th:text="#{text.rub}"> руб</label>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:270px; width: 288px; border-color:  #000000;border-style: solid"></div>
        </div>


        <label class="main-label2"
               style="color: whitesmoke; margin-left: 10px; position: relative; top: -94px" th:text="#{text.Menu_X}">Menu x </label>
        <label class="main-label2" id="countX"
               style="color: whitesmoke; margin-left: 0px; position: relative; top: -94px">3</label>

        <label class="main-label2" id="priceX"
               style="color: whitesmoke;  position: absolute; top: 282px; right: 55px">90</label>
        <label class="main-label2"
               style="color: whitesmoke;  position: absolute; top: 282px; right: 27px"th:text="#{text.rub}"> руб</label>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:313px; width: 288px; border-color:  #000000;border-style: solid"></div>
        </div>


        <label class="main-label2"
               style="color: whitesmoke; margin-left: 10px; position: relative; top: -122px" th:text="#{text.Booking_Fee}">Booking Fee</label>

        <label class="main-label2" id="bookingPrice"
               style="color: whitesmoke;  position: absolute; top: 327px; right: 54px">20</label>
        <label class="main-label2"
               style="color: whitesmoke;  position: absolute; top: 327px; left: 238px"th:text="#{text.rub}"> руб</label>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:357px; width: 288px; border-color: #000000;border-style: solid"></div>
        </div>


        <label class="main-label2"
               style="color: rgb(243, 153, 57); margin-left: 10px; position: relative; top: -150px" th:text="#{text.Total}">Total</label>

        <label class="main-label2" id="totalPrice"
               style="color: rgb(243, 153, 57);  position: absolute; top: 369px; right: 55px">110</label>
        <label class="main-label2"
               style="color: rgb(243, 153, 57);  position: absolute; top: 369px; right: 26px"th:text="#{text.rub}"> руб</label>


        <div class="card-body" style="height: 5px">
            <div class="card dish-card2"
                 style="position: absolute;left: 0px;  top:397px; width: 288px; border-color: #000000;border-style: solid"></div>
        </div>


        <div class="row justify-content-center" style="position: absolute;left: 30px;  top:400px; width: 258px">
            <button class="btn btn-classic save"
                    style="display: inline-block; margin-top: 12px;  width : 258px;" th:text="#{text.BOOK_THIS_MENU}">BOOK THIS MENU
            </button>
        </div>


    </div>

</div>
</form>



<label id="1" style="display: none"  th:text="#{text.please_fill_out_this_field}"></label>
<label id="2" style="display: none"  th:text="#{text.does_not_match_type}"></label>





<script type="text/javascript" th:src="@{/script/jquery.js}"></script>

<script>

    $('input').on('input invalid', function() {
        this.setCustomValidity('')
        if (this.validity.valueMissing) {
            this.setCustomValidity($("#1").text())
        }
        if (this.validity.typeMismatch) {
            this.setCustomValidity($("#2").text())
        }
        if (this.validity.patternMismatch) {
            this.setCustomValidity($("#2").text())
        }
    })
</script>
<script>

    const selectGuests = document.getElementById('selectGuests');
    const unitPrice = document.getElementById('unitPrice');
    const countX = document.getElementById('countX');
    countX.innerHTML = selectGuests.value;
    const priceX = document.getElementById('priceX');
    const bookingPrice = document.getElementById('bookingPrice');
    const totalPrice = document.getElementById('totalPrice');

    unitPrice.innerHTML = unitPrice.innerHTML.split('.')[0];

    countX.innerHTML = (Number(selectGuests.innerHTML)) + '';
    priceX.innerHTML = (Number(unitPrice.innerHTML) * Number(countX.innerHTML)) + '';
    totalPrice.innerHTML = (Number(unitPrice.innerHTML) * Number(countX.innerHTML) + Number(bookingPrice.innerHTML));


</script>


</body>
</html>