<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>


    <script type="text/javascript" th:src="@{/script/jquery.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/newMenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewMenu.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


</head>
<!--<body>-->
<!--<a th:href="${(#mvc.url('CC#getCookPersonalPage')).build()}" th:text="#{text.back}">back</a><p></p>-->


<!--<fieldset th:each="menuItem, item : ${menuList}">-->
<!--    <legend th:text="${menuItem.name}"></legend>-->


<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Edit main fields -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--    <form action="#" th:action="@{/editMenu}" th:object="${menuItem}" method="post">-->
<!--        <label th:text="#{text.name}">name</label>-->
<!--        <input type="hidden" th:value="${menuItem.id}" th:name="id"/>-->
<!--        <input type="text" th:value="${menuItem.name}" th:name="name"/>-->
<!--        <p></p>-->

<!--        <label th:text="#{text.type}">type</label>-->
<!--        <input type="text" th:value="${menuItem.luxury}"  th:name="luxury"/>-->


<!--        <p></p>-->
<!--        <label th:text="#{text.price}">price</label>-->
<!--        <input type="text" th:value="${menuItem.price}" th:name="price"/>-->

<!--        <p></p>-->


<!--        &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Main info about menu -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->


<!--        <div th:object="${menuItem}">-->
<!--            &lt;!&ndash;            <label th:value="#{${dishType}}">Price for ${UserName}:</label>&ndash;&gt;-->

<!--            <label th:text="#{text.price}"></label>-->
<!--            <label th:text="*{price}"></label>-->

<!--            <p></p>-->

<!--            <label th:text="#{text.luxury}">luxury:</label>-->
<!--            <label th:text="#{'text.luxury.' + *{luxury}}"></label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit" th:text="#{text.see_more}" name = "seeMore">see more</button>-->
<!--        </div>-->
<!--    </form>-->

<!--</fieldset>-->
<!--</body>-->


<body style="background-color: #f9f8f6;">
<div th:replace="fragments/cookNavbar :: cookNavbar"></div>


<div class="main-div-img" style="height: 250px; position: absolute; width: 100%;">
    <div style="background-color: #6b2024; height: 70px; position:absolute;bottom:0;right:0; width: 100%; ">
        <form action="#" th:action="@{/viewMenu}" th:object="${order}" method="post">
            <div style="color:white; font-size: 30px; text-align: center;
            display: flex;
            align-items: center;
            justify-content: center ">

                <span>in</span>
                <div style="padding: 10px;">
                    <select class="form-control input-main" th:field="${order.town}" id="select_">
                        <option th:each="t : ${townList}" th:value="${t.id}" th:text="${t.name}"></option>
                    </select>
                </div>

                <div style="padding: 10px;">
                    <select class="form-control input-main" th:field="${order.district.id}" id="selectDistricts"
                            style="z-index: 2">
                        <option th:each="district : ${districtList}" th:value="${district.id}"
                                th:text="${district.name}">
                        </option>
                    </select>
                </div>

                <div>
                    <span>on</span>
                </div>


                <div style="padding: 10px;">
                    <input class="form-control input-main" type="date" th:value="${order.date}" th:field="${order.date}"
                           min="2019-12-01" max="2020-03-31">
                </div>

                <span>at</span>
                <div style="padding: 10px;">
                    <select th:field="${order.time}" class="form-control" style="width: 90px">
                        <option th:value="${'01:00'}" th:text="${'01:00'}">01:00</option>
                        <option th:value="${'02:00'}" th:text="${'02:00'}">02:00</option>
                        <option th:value="${'03:00'}" th:text="${'03:00'}">03:00</option>
                        <option th:value="${'04:00'}" th:text="${'04:00'}">04:00</option>
                        <option th:value="${'05:00'}" th:text="${'05:00'}">05:00</option>
                        <option th:value="${'06:00'}" th:text="${'06:00'}">06:00</option>
                        <option th:value="${'07:00'}" th:text="${'07:00'}">07:00</option>
                        <option th:value="${'08:00'}" th:text="${'08:00'}">08:00</option>
                        <option th:value="${'09:00'}" th:text="${'09:00'}">09:00</option>
                        <option th:value="${'10:00'}" th:text="${'10:00'}">10:00</option>
                        <option th:value="${'11:00'}" th:text="${'11:00'}">11:00</option>
                        <option th:value="${'12:00'}" th:text="${'12:00'}">12:00</option>
                        <option th:value="${'13:00'}" th:text="${'13:00'}">13:00</option>
                        <option th:value="${'14:00'}" th:text="${'14:00'}">14:00</option>
                        <option th:value="${'15:00'}" th:text="${'15:00'}">15:00</option>
                        <option th:value="${'16:00'}" th:text="${'16:00'}">16:00</option>
                        <option th:value="${'17:00'}" th:text="${'17:00'}">17:00</option>
                        <option th:value="${'18:00'}" th:text="${'18:00'}">18:00</option>
                        <option th:value="${'19:00'}" th:text="${'19:00'}">19:00</option>
                        <option th:value="${'20:00'}" th:text="${'20:00'}">20:00</option>
                        <option th:value="${'21:00'}" th:text="${'21:00'}">21:00</option>
                        <option th:value="${'22:00'}" th:text="${'22:00'}">22:00</option>
                        <option th:value="${'23:00'}" th:text="${'23:00'}">23:00</option>
                        <option th:value="${'24:00'}" th:text="${'24:00'}">23:00</option>
                    </select>
                </div>


                <div style="padding: 10px;">
                    <button th:text="#{text.view_menu}" name="save" type="submit" class="btn btn-warning"
                            style=" border-radius: 5px; margin-top: 10px">view menu
                    </button>
                </div>


            </div>
        </form>
    </div>
</div>


<div style="margin-bottom: 300px"></div>

<div class="row justify-content-center" style="margin-top: -20px">

    <div class=" d-inline-block">
        <div class="card main-div" th:each="menuItem, item : ${menuList}" th:if="${item.index % 2  == 0}"
             style="height: 250px; margin-top: 23px">
            <div th:id="${'carouselExampleIndicators' + item.index}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" th:each="dish, itemDish : ${menuItem.dishes}"
                        th:data-slide-to="${itemDish.index}"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" th:each="dish, itemDish : ${menuItem.dishes}"
                         th:if="${itemDish.index == 0}">
                        <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"
                             style="max-height: 210px; min-height: 210px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${menuItem.name}"></h5>
                        </div>
                    </div>
                    <div class="carousel-item" th:each="dish, itemDish : ${menuItem.dishes}"
                         th:if="${itemDish.index != 0}">
                        <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"
                             style="max-height: 210px; min-height: 210px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${menuItem.name}"></h5>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" th:href="${'#carouselExampleIndicators' + item.index}"
                   role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" th:href="${'#carouselExampleIndicators' + item.index}"
                   role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="card-body">

                <div style="position: absolute; top: 217px">
                    <label th:text="${menuItem.price}"></label>
                    <label>Price per guest </label>
                </div>

                <form action="#" th:action="@{/selectMenu}" th:object="${orderDto}" method="post">
                    <input type="hidden" th:value="${menuItem.id}" th:name="menuId">
                    <input type="hidden" th:field="${order.district.id}" th:value="${order.district.id}">
                    <input type="hidden" th:name="date" th:value="${order.date}">
                    <input type="hidden" th:name="time" th:value="${order.time}">
                    <div style="position: absolute; top: 215px; right: 30px">
                        <button class="btn btn-classic save" type="submit" th:id="${'saveButton' + item.index}"
                                style=" font-size: 13px;  width : 140px; height: 25px;">
                            <span th:for="${'saveButton' + item.index}" style="position: relative; top: -5px;">SELECT THIS MENU</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class=" d-inline-block">
        <div class="card main-div" th:each="menuItem, item : ${menuList}" th:if="${item.index % 2  == 1}"
             style="height: 250px; margin-top: 23px">
            <div th:id="${'carouselExampleIndicators' + item.index}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" th:each="dish, itemDish : ${menuItem.dishes}"
                        th:data-slide-to="${itemDish.index}"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" th:each="dish, itemDish : ${menuItem.dishes}"
                         th:if="${itemDish.index == 0}">
                        <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"
                             style="max-height: 210px; min-height: 210px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${menuItem.name}"></h5>
                        </div>
                    </div>
                    <div class="carousel-item" th:each="dish, itemDish : ${menuItem.dishes}"
                         th:if="${itemDish.index != 0}">
                        <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"
                             style="max-height: 210px; min-height: 210px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="${menuItem.name}"></h5>

                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" th:href="${'#carouselExampleIndicators' + item.index}"
                   role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" th:href="${'#carouselExampleIndicators' + item.index}"
                   role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="card-body">

                <div style="position: absolute; top: 217px">
                    <label th:text="${menuItem.price}"></label>
                    <label>Price per guest </label>
                </div>
                <form action="#" th:action="@{/selectMenu}" th:object="${orderDto}" method="post">
                    <input type="hidden" th:value="${menuItem.id}" th:name="menuId">
                    <input type="hidden" th:field="${order.district.id}" th:value="${order.district.id}">
                    <input type="hidden" th:name="date" th:value="${order.date}">
                    <input type="hidden" th:name="time" th:value="${order.time}">
                    <div style="position: absolute; top: 215px; right: 30px">
                        <button class="btn btn-classic save" type="submit" th:id="${'saveButton' + item.index}"
                                style=" font-size: 13px;  width : 140px; height: 25px;">
                            <span th:for="${'saveButton' + item.index}" style="position: relative; top: -5px;">SELECT THIS MENU</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


<!--<div class="card main-div  d-inline-block"  th:each="menuItem, item : ${menuList}" style="height: 350px; margin-top: 70px">-->
<!--    <div th:id="${'carouselExampleIndicators' + item.index}" class="carousel slide" data-ride="carousel">-->
<!--        <ol class="carousel-indicators">-->
<!--            <li  data-target="#carouselExampleIndicators" th:each="dish, itemDish : ${menuItem.dishes}"  th:data-slide-to="${itemDish.index}"></li>-->

<!--        </ol>-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active" th:each="dish, itemDish : ${menuItem.dishes}" th:if="${itemDish.index == 0}">-->
<!--                <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"-->
<!--                     style="max-height: 300px; min-height: 300px;">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                    <h5  th:text="${menuItem.name}"></h5>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item" th:each="dish, itemDish : ${menuItem.dishes}" th:if="${itemDish.index != 0}">-->
<!--                <img class="d-block w-100" th:src="@{/images/kafe.jpg}" alt="First slide"-->
<!--                     style="max-height: 300px; min-height: 300px;">-->
<!--                <div class="carousel-caption d-none d-md-block">-->
<!--                    <h5 th:text="${menuItem.name}"></h5>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <a class="carousel-control-prev" th:href="${'#carouselExampleIndicators' + item.index}" role="button" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" th:href="${'#carouselExampleIndicators' + item.index}" role="button" data-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="card-body">-->

<!--        <div>-->
<!--            <label th:text="${menuItem.price}"></label>-->
<!--            <label>Price per guest </label>-->
<!--        </div>-->

<!--        <div style="position: absolute; bottom: -5px; left: 450px">-->
<!--            <button class="btn btn-classic save" id="saveButton"-->
<!--                    style="display: inline-block; font-size: 13px;  width : 140px;">SELECT THIS MENU-->
<!--            </button>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->


<script type="text/javascript" th:src="@{/script/jquery.js}"></script>
<script type="text/javascript" th:src="@{/script/mainPage.js}"></script>
<!--<script type="text/javascript" >-->

<!--    fetch("http://localhost:8084/sam_solutions_project_war/viewMenu2", { // try not to specify server here-->
<!--        method: 'POST',-->
<!--        headers: {-->
<!--            'Content-Type': 'application/json;charset=utf-8'-->
<!--        },-->
<!--        body: JSON.stringify("123")-->
<!--    })-->
<!--        .then(resp => resp.json()-->
<!--        .then(json => {-->
<!--        console.log(json);-->
<!--    }))-->
<!--</script>-->
</body>


</html>



